
extends ../../../../../base.pug
block content
    div
        ul(class="list")
            li
                h2 Special Model (FL, GA, IL, MD, MI, TX, VA, WA, WI)
                p Predicted Crashes=(A Ã— B)/C
                p A=U/1+U    ,(Probability of non-zero crashes in the zero hurdle model)
                p C=1-e^(-B),(probability of non-zero crashes in the count model)
                p U=No.of yearsÃ—Segment Length                             Ã— exp(-8.263 + 0.548 LogVolume + 0.076 Std.Speed+0.022 Diff.AvgSpeed (Upstream-Downstream)+1.555(GA)+0.553(IL)-0.737(MD)+1.020(VA)-1.905(WI)).
                p B=No.of years Ã—Segment LengthÃ—expâ¡(-2.012+0.033 Diff.AvgSpeed (Upstream-Downstream)).
            li
                h2 Generic Model
                p Predicted Crashes=(A Ã— B)/CÃ—CF.
                p A=U/1+U    ,(Probability of non-zero crashes in the zero hurdle model).
                p B=Expected crash probability from the count model
                p C=1-e^(-B),(probability of non-zero crashes in the count model)
                p U=No.of yearsÃ—Segment Length             Ã— exp(-8.263 + 0.548 LogVolume + 0.076 Std.Speed+0.022 Diff.AvgSpeed (Upstream-Downstream)).
                p B=No.of years Ã—Segment LengthÃ—expâ¡(-2.012+0.033 Diff.AvgSpeed (Upstream-Downstream)).
                ul
                    li
                        h2 Calibration Factor
                        p ğ‘ªğ’‚ğ’ğ’Šğ’ƒğ’“ğ’‚ğ’•ğ’Šğ’ğ’ ğ‘­ğ’‚ğ’„ğ’•ğ’ğ’“_ğ’”ğ’•ğ’‚ğ’•ğ’†=(âˆ‘ ã€–ğ‘‚ğ‘ğ‘ ğ‘’ğ‘Ÿğ‘£ğ‘’ğ‘‘ ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ ã€—)/âˆ‘ ã€–ğ‘ƒğ‘Ÿğ‘’ğ‘‘ğ‘–ğ‘ğ‘¡ğ‘’ğ‘‘  ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ã€—

        form(method="post", action="/figure", enctype="multipart/form-data")
            p
                span Select data file:
                input(type="file" name="dataFile")

            p
                span Select Model:
                select(name="model")
                    option(value="special") Special
                    option(value="generic") Generic
            p
                span Observed Crashes State:
                input(type="number" name="crashes_state" step="0.001")
            p
                button(type="submit" class="btn btn-primary")  Upload
